@import "../components/Spinner/";

@import "../components/Hr/";
@import "../components/Header/";
@import "../components/Footer/";
@import "../components/PaymentCards/";
@import "../components/RegistrationForm/";
@import "../components/Accordion/";
@import "../components/ProductCard/";
@import "../components/Carousel/";
@import "../components/FavoriteIcon/";
